/* CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #f2f2f2; /* offwhite */

	/* default element*/
	/*font-family: 'Roboto', sans-serif;*/
	font-family: 'PT Sans', sans-serif;
}

/* target the html element called body */
/* start body */
body {
	background-color: #696969;
	background-image: url('https://media.giphy.com/media/l4FGE5XNiYoNSqeuk/giphy.gif');
	/*background-image: url('../images/bg.jpg');*/
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	/* viewport height is the height of the screen */
	height: 100vh;
    


	
}

/* end body */

.container {
	width: 540px;
	margin: 0 auto; /* this centeres the element horizontally*/
	text-align: center;
}

/* start h1 */
h1 {	
	font-size: 50px;
	text-transform: uppercase;
	margin-bottom: 20px;
	letter-spacing: 5px;
	background-color: #333; /* off black */
	font-family: 'Raleway', sans-serif;
	font-family: 'PT Sans', sans-serif;
	margin-top: 30px;

}

/*end h1*/

/* start h2 */
h2 {	
	/*color:lightblue;*/
	color: yellow;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-bottom: 15px;
	background-color: #333;
	/*background-color: white;*/
	/*border-radius: 10px;*/

	/*padding vs margin */
	/*margin:10px adds space outside of the element */
	padding: 10px; /* adds space inside the element*/
	font-family: 'Raleway', sans-serif;
	font-family: 'PT Sans', sans-serif;
}

/*end h2*/


/* target the element with the class bio*/
.bio {
	font-size: 18px;
	/* multiplied to the current line height */
	line-height: 1.75;
	background-color: rgba(51, 51, 51, .5);
	/*background-color: rgb(51,51,51);*/
	/*opacity: 0.5;*/

	color: ;

	margin-top: 0px;
}

/* end bio*/

/* targets the element with the id me*/
#me{
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border-color: #008080;
	border-width: 5px;
	border-style: solid;
	margin-top: 50px;
	margin-bottom: 25px;



}

/* end of id me*/